[Unit]
Description=BiFrost Container
After=network-online.target

[Container]
Image=docker.io/maximhq/bifrost:latest
Network=inference
ContainerName=BiFrost
PublishPort=8080:8080
Volume=%h/bifrost:/app/data

[Service]
Restart=always

[Install]
WantedBy=default.target
