[Unit]
Description=Dynacat
After=network-online.target

[Container]
Image=docker.io/panonim/dynacat
ContainerName=beszel
PublishPort=8090:8090
Environment=TZ=Australia/Brisbane
Environment=APP_URL=http://localhost:8090
Volume=%h/beszel/beszel_data:/beszel_data:Z
Volume=%h/beszel/beszel_socket:/beszel_socket:Z

[Service]
Restart=unless-stopped

[Install]
WantedBy=default.target
