[Unit]
Description=Dynacat
After=network-online.target

[Container]
Image=docker.io/panonim/dynacat
ContainerName=dynacat
Network=proxy.network
Environment=TZ=Australia/Brisbane
Environment=APP_URL=http://homelab/dynacat
Volume=../dynacat/config:/app/config
Volume=../dynacat/assets:/app/assets
Volume=/etc/localtime:/etc/localtime:ro

[Service]
Restart=always
Restart=unless-stopped

[Install]
WantedBy=default.target
